.Header{
    background-color: #202020;
    color: #e8e8e8;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: bold;
}

.headerComponent{
    margin: 20px;
    cursor: pointer;
}

.headerComponent:hover{
    color: #009687;
}